{% extends 'layout.html' %}

{% block body %}

<h1><small>Add new stream to system </small> <br>
    {{payload.source_system}}</h1>
    <br>

    <p>The name of the stream application will be immutable.</p>

    {% from "includes/_formhelpers.html" import render_field %}

    <form method="POST" action="">
        <div class="form-group">
            {{render_field(form.name, class_="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.target_system, class_="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.filter_logic, class_="form-control")}}
            <small id="filter_logic" class="form-text text-muted">The Filter Logic must be a valid json.</small>
        </div>
        <div class="form-group">
            {{render_field(form.description, class_="form-control")}}
            <small id="description" class="form-text text-muted">The description is optional.</small>
        </div>
        <p><input type="submit" class="btn btn-primary" value="Submit"> </p>

    </form>

  <br>
  <br>
{% endblock %}

