{% extends 'layout.html' %}

{% block body %}

  <table class="table">
    <td>
      <h1> <small>Stream name: </small>{{payload.name}}</h1>
      {% if payload.description %}
      {{payload.description}}
      {% endif %}
        <br>
    </td>

    <td>
       <a class="btn btn-danger float-right mb-2" href="/delete_stream/{{payload.system_uuid}}/{{payload.name}}"
          data-toggle="tooltip" title="Delete this stream application.">delete stream</a>
    </td>
  </table>


  <hr>
  <table class="table table-striped">
    <tr>
      <th>Source System</th>
      <th>Target System</th>
      <th>Creator's mail</th>
      <th>Created at</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
      <tr>
        <td><a href="/show_stream/{{payload.system_uuid}}/{{payload.name}}" class="btn btn-block">{{payload.source_system}}</a></td>
        <td><a href="/show_stream/{{payload.system_uuid}}/{{payload.name}}" class="btn btn-block">{{payload.target_system}}</a></td>
        <td><a href="/show_stream/{{payload.system_uuid}}/{{payload.name}}" class="btn btn-block">{{payload.contact_mail}}</a></td>
        <td><a href="/show_stream/{{payload.system_uuid}}/{{payload.name}}" class="btn btn-block">{{payload.datetime}}</a></td>

      {% if payload.status == "init" %}
       <td><a class="btn btn-info float-right mb-2" href="/show_stream/{{payload.system_uuid}}/{{payload.name}}"
          data-toggle="tooltip" title="The stream wasn't deployed yet.">{{payload.status}}</a></td>
      {% elif payload.status == "starting" %}
       <td><a class="btn btn-warning float-right mb-2" href="/show_stream/{{payload.system_uuid}}/{{payload.name}}"
          data-toggle="tooltip" title="The stream is starting.">{{payload.status}}</a></td>
      {% elif payload.status == "running" %}
       <td><a class="btn btn-success float-right mb-2" href="/show_stream/{{payload.system_uuid}}/{{payload.name}}"
          data-toggle="tooltip" title="The stream is running.">{{payload.status}}</a></td>
      {% elif payload.status == "stopping" %}
       <td><a class="btn btn-warning float-right mb-2" href="/show_stream/{{payload.system_uuid}}/{{payload.name}}"
          data-toggle="tooltip" title="This stream will stopping.">{{payload.status}}</a></td>
      {% elif payload.status == "idle" %}
       <td><a class="btn btn-primary float-right mb-2" href="/show_stream/{{payload.system_uuid}}/{{payload.name}}"
          data-toggle="tooltip" title="This stream is idle.">{{payload.status}}</a></td>
      {% elif payload.status == "failing" %}
       <td><a class="btn btn-danger float-right mb-2" href="/show_stream/{{payload.system_uuid}}/{{payload.name}}"
          data-toggle="tooltip" title="This stream is failing.">{{payload.status}}</a></td>
      {% else %}
       <td></td><a class="btn btn-warning float-right mb-2" href="/show_stream/{{payload.system_uuid}}/{{payload.name}}"
          data-toggle="tooltip" title="This stream status is unknown.">{{payload.status}}</a></td>
      {% endif %}

        {% if payload.status == "running" or payload.status == "starting" %}
         <td><a class="btn btn-warning float-right mb-2" href="/stop_stream/{{payload.system_uuid}}/{{payload.name}}"
            data-toggle="tooltip" title="Stop this stream application.">stop stream</a></td>
        {% else %}
         <td><a class="btn btn-success float-right mb-2" href="/start_stream/{{payload.system_uuid}}/{{payload.name}}"
            data-toggle="tooltip" title="Start this stream application.">start stream</a></td>
        {% endif %}
      </tr>
  </table>


  <hr>
  <table class="table table-striped">
    <tr>
      <th><h2> <small> Stream Filter Logic: </small></h2></th>
    </tr>
    <tr>
      <td>
      {{payload.filter_logic}}
      </td>
    </tr>
  </table>

  <hr>
  <table class="table table-striped">
    <tr>
      <th><h2> <small> StreamApp Status </small></h2></th>
    </tr>
    <tr>
      <td>
      {{app_status}}
      </td>
    </tr>
  </table>

<!--  <pre id="json"></pre>-->

<!--  <script>-->
<!--    var data = {-->
<!--        "filter": '{{payload.filter}}'};-->
<!--    document.getElementById("json").innerHTML = JSON.stringify(data, undefined, 2);-->
<!--  </script>-->
  <hr>
  <br>
  <br>
{% endblock %}
