{% extends 'layout.html' %}

{% block body %}
<!--  <h1>Dashboard <small> Welcome {{session.first_name}} {{session.sur_name}}</small></h1>-->
  <h1> <small> List of dedicated companies </small></h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>uuid</th>
      <th>Domain</th>
      <th>Enterprise</th>
<!--      <th>Contact</th>-->
      <th></th>
      <th></th>
    </tr>
      {% for company in companies %}
      <tr>
        <td><a href="show_company/{{company.company_uuid}}" class="btn btn-block">{{company.company_uuid}}</a></td>
        <td><a href="show_company/{{company.company_uuid}}" class="btn btn-block">{{company.domain}}</a></td>
        <td><a href="show_company/{{company.company_uuid}}" class="btn btn-block">{{company.enterprise}}</a></td>
<!--        <td>{{company.contact_mail}}</td>-->
        <td><a href="show_company/{{company.company_uuid}}" class="btn btn-info">manage admins</a></td>
<!--        <td><a href="add_admin_company/{{company.company_uuid}}" class="btn btn-primary">add admin</a></td>-->
        <td>
<!--          <form action="{{url_for('company.delete_company', uuid=company.uuid)}}" method="post">-->
<!--            <input type="hidden" name="_method" value="DELETE">-->
<!--            <input type="submit" value="Delete" class="btn btn-danger">-->
<!--          </form>-->
            <a class="btn btn-danger" href="/delete_company/{{company.company_uuid}}"> delete</a>
        </td>
      </tr>
    {% endfor %}
  </table>
  <a class="btn btn-success" href="/add_company"> Add Company</a>
{% endblock %}