{% extends 'layout.html' %}

{% block body %}
<!--  <h1>Dashboard <small> Welcome {{session.first_name}} {{session.sur_name}}</small></h1>-->
  <h1> <small> Admins for Company {{domain}}.{{enterprise}} </small></h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>First Name</th>
      <th>Name</th>
      <th>Contact</th>
    </tr>
      {% for admin in admins %}
      <tr>
        <td>{{admin.first_name}}</td>
        <td>{{admin.sur_name}}</td>
        <td>{{admin.email}}</td>
    {% endfor %}
  </table>

<a href="../add_admin_company/{{company_uuid}}" class="btn btn-info">add admin</a>

{% endblock %}
