{% extends 'layout.html' %}

{% block body %}


  <table class="table">
  <td>
    <h1> <small> Client: {{payload.name}} </small></h1>
    <h3> <small> Part of the system:
      {{payload.domain}}.{{payload.enterprise}}.{{payload.workcenter}}.{{payload.station}} </small></h3>
    {% if payload.description %}
    {{payload.description}}
    {% endif %}
  </td>
  <td>
<!--     <a class="btn btn-info float-right mb-2" href="/edit_client/{{payload.system_uuid}}/{{payload.name}}"> edit description </a>-->
     <a class="btn btn-danger float-right" href="/delete_client/{{payload.system_uuid}}/{{payload.name}}"
        data-toggle="tooltip" title="Delete this client application."> delete client </a>
  </td>
  </table>

  <hr>
  <table class="table table-striped">
    <tr>
      <th>Name of the Client</th>
      <th>System</th>
      <th>Company</th>
      <th>Creator's mail</th>
      <th>Created at</th>
      <th>Key</th>
<!--      <th>Creator</th>-->
    </tr>
      <tr>
        <td><a href="/show_client/{{payload.system_uuid}}/{{payload.name}}" class="btn btn-block">{{payload.name}}</a></td>
        <td><a href="/show_system/{{payload.system_uuid}}" class="btn btn-block">{{payload.workcenter}}.{{payload.station}}</a></td>
        <td><a href="/show_company/{{payload.company_uuid}}" class="btn btn-block">{{payload.domain}}.{{payload.enterprise}}</a></td>
        <td><a href="/show_client/{{payload.system_uuid}}/{{payload.name}}" class="btn btn-block">{{payload.contact_mail}}</a></td>
        <td><a href="/show_client/{{payload.system_uuid}}/{{payload.name}}" class="btn btn-block">{{payload.datetime}}</a></td>
        <td><a href="/download_key/{{payload.system_uuid}}/{{payload.name}}" class="btn btn-info float-right"
        data-toggle="tooltip" title="For security reasons, the key can be downloaded only once!">download key and delete</a></td>
      </tr>
  </table>

  <br>
  <br>
{% endblock %}
