{% extends 'layout.html' %}

{% block body %}


  <table class="table table-hover">
  <td>
    <h1> <small> Client: {{payload.name}} </small></h1>
    <h3> <small> Part of the system:
      {{payload.domain}}.{{payload.enterprise}}.{{payload.workcenter}}.{{payload.station}} </small></h3>
  </td>
  <td>
     <a class="btn btn-danger" href="/delete_client/{{payload.system_uuid}}/{{payload.name}}"> delete client </a>
  </td>
  </table>

  <hr>
  <table class="table table-striped">
    <tr>
      <th>Name of the Client</th>
      <th>System</th>
      <th>Company</th>
      <th>Creator's mail</th>
      <th>Created at</th>
      <th>Keyfile</th>
<!--      <th>Creator</th>-->
      <th></th>
      <th></th>
    </tr>
      <tr>
        <td><a href="/show_client/{{payload.system_uuid}}/{{payload.name}}" class="btn btn-block">{{payload.name}}</a></td>
        <td><a href="/show_system/{{payload.system_uuid}}" class="btn btn-block">{{payload.workcenter}}.{{payload.station}}</a></td>
        <td><a href="/show_company/{{payload.company_uuid}}" class="btn btn-block">{{payload.domain}}.{{payload.enterprise}}</a></td>
        <td><a href="/show_client/{{payload.system_uuid}}/{{payload.name}}" class="btn btn-block">{{payload.contact_mail}}</a></td>
        <td><a href="/show_client/{{payload.system_uuid}}/{{payload.name}}" class="btn btn-block">{{payload.datetime}}</a></td>
        <td><a href="/show_client/{{payload.system_uuid}}/{{payload.name}}" class="btn btn-info">download keyfile</a></td>
      </tr>
  </table>

{% endblock %}
