{% extends 'layout.html' %}

{% block body %}
  <h1> <small> Client '{{payload.name}}' of the system
    '{{payload.domain}}.{{payload.enterprise}}.{{payload.workcenter}}.{{payload.station}}' </small></h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>Domain</th>
      <th>Enterprise</th>
      <th>Workcenter</th>
      <th>Station</th>
    </tr>
      <tr>
        <td><a href="/show_company/{{payload.company_uuid}}" class="btn btn-block">{{payload.domain}}</a></td>
        <td><a href="/show_company/{{payload.company_uuid}}" class="btn btn-block">{{payload.enterprise}}</a></td>
        <td><a href="/show_system/{{payload.system_uuid}}" class="btn btn-block">{{payload.workcenter}}</a></td>
        <td><a href="/show_system/{{payload.system_uuid}}" class="btn btn-block">{{payload.station}}</a></td>
      </tr>
  </table>

  <hr>
  <table class="table table-striped">
    <tr>
      <th>Name of the Client</th>
      <th>Creator's mail</th>
      <th>Keyfile</th>
<!--      <th>Creator</th>-->
      <th></th>
      <th></th>
    </tr>
      <tr>
        <td><a href="/show_client/{{payload.system_uuid}}/{{payload.name}}" class="btn btn-block">{{payload.name}}</a></td>
        <td><a href="/show_client/{{payload.system_uuid}}/{{payload.name}}" class="btn btn-block">{{payload.contact_mail}}</a></td>
        <td><a href="/show_client/{{payload.system_uuid}}/{{payload.name}}" class="btn btn-info">download keyfile</a></td>
      </tr>
  </table>

{% endblock %}
