{% extends 'layout.html' %}

{% block body %}
    <h1>Our mission:</h1>
    <h1><small>Connecting things across company-, station- and domain-borders</small> </h1>

    <br>
    <h3>About this project:</h3>
    <p>This is the user interface of the Digital Twin Platform.</p>
    <p>Implemented by Salzburg Research.</p>

    <h3>Acknowledgment</h3>
    <p>This work was supported by the IoT4CPS project, which
    is partially funded by the “ICT of the Future” Program of the
    FFG and the BMVIT that are Austrian research-funding
    agencies.</p>

    <br>
{% endblock %}

