{% extends 'layout.html' %}

{% block body %}
  <table class="table">
  <td>
    <h1> Dashboard </h1>
  <h1> <small> Welcome {{session.first_name}} {{session.sur_name}}!</small></h1>
  </td>
  </table>


  <h1> <small> Your companies </small></h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>uuid</th>
      <th>Domain</th>
      <th>Enterprise</th>
      <th>Creator</th>
      <th></th>
<!--      <th></th>-->
    </tr>
      {% for company in companies %}
      <tr>
        <td><a href="show_company/{{company.company_uuid}}" class="btn btn-block">{{company.company_uuid}}</a></td>
        <td><a href="show_company/{{company.company_uuid}}" class="btn btn-block">{{company.domain}}</a></td>
        <td><a href="show_company/{{company.company_uuid}}" class="btn btn-block">{{company.enterprise}}</a></td>
        <td><a href="show_company/{{company.company_uuid}}" class="btn btn-block">{{company.contact_mail}}</a></td>
<!--        <td>{{company.contact_mail}}</td>-->
        <td><a href="show_company/{{company.company_uuid}}" class="btn btn-info float-right"
        data-toggle="tooltip" title="Manage this company.">manage company</a></td>
<!--        <td><a class="btn btn-danger" href="/delete_company/{{company.company_uuid}}"> delete</a></td>-->
      </tr>
    {% endfor %}
  </table>
    {% if not companies %}
      No companies were created yet.
      <br>
      <br>
    {% endif %}
  <a class="btn btn-success" href="/add_company"
        data-toggle="tooltip" title="Add a new company."> Add Company</a>

  <br>
  <br>
<!-------------------------------------------------------------------------------------------------------->

<!--  <h1>Dashboard <small> Welcome {{session.first_name}} {{session.sur_name}}</small></h1>-->
  <h1> <small> Your systems of CPSs and services </small></h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>uuid</th>
      <th>Company</th>
      <th>System</th>
      <th>Creator</th>
      <th></th>
<!--      <th></th>-->
    </tr>

      {% for system in systems %}
      <tr>
        <td><a href="show_system/{{system.system_uuid}}" class="btn btn-block">{{system.system_uuid}}</a></td>
        <td><a href="show_system/{{system.system_uuid}}" class="btn btn-block">{{system.domain}}.{{system.enterprise}}</a></td>
        <td><a href="show_system/{{system.system_uuid}}" class="btn btn-block">{{system.workcenter}}.{{system.station}}</a></td>
        <td><a href="show_system/{{system.system_uuid}}" class="btn btn-block">{{system.contact_mail}}</a></td>
        <td><a href="show_system/{{system.system_uuid}}" class="btn btn-info float-right"
        data-toggle="tooltip" title="Manage this system.">manage system</a></td>
<!--        <td><a class="btn btn-danger" href="/delete_system/{{system.system_uuid}}"> delete</a></td>-->
      </tr>
    {% endfor %}
  </table>
    {% if not systems %}
      No systems were created yet.
      <br>
      <br>
    {% endif %}
  <a class="btn btn-success" href="/add_system"
      data-toggle="tooltip" title="Add a new system to this company."> Add System</a>

  <br>
  <br>
{% endblock %}
