{% extends 'layout.html' %}

{% block body %}
  <table class="table">
  <tr>
    <h1> Dashboard </h1>
  <h1> <small> Welcome {{session.first_name}} {{session.sur_name}}!</small></h1>
  </tr>
  </table>


  <h1> <small> Your companies </small></h1>
  A list of companies that you are admin of:
  <hr>
  <table class="table table-striped">
    <tr>
      <th>uuid</th>
      <th>Domain</th>
      <th>Enterprise</th>
      <th>Creator</th>
      <th></th>
<!--      <th></th>-->
    </tr>
      {% for company in companies %}
      <tr>
        <td><a href="show_company/{{company.company_uuid}}" class="btn btn-block">{{company.company_uuid}}</a></td>
        <td><a href="show_company/{{company.company_uuid}}" class="btn btn-block">{{company.domain}}</a></td>
        <td><a href="show_company/{{company.company_uuid}}" class="btn btn-block">{{company.enterprise}}</a></td>
        <td><a href="show_company/{{company.company_uuid}}" class="btn btn-block">{{company.contact_mail}}</a></td>
<!--        <td>{{company.contact_mail}}</td>-->
        <td><a href="show_company/{{company.company_uuid}}" class="btn btn-info float-right"
        data-toggle="tooltip" title="Manage this company.">manage company</a></td>
<!--        <td><a class="btn btn-danger" href="/delete_company/{{company.company_uuid}}"> delete</a></td>-->
      </tr>
    {% endfor %}
  </table>
    {% if not companies %}
      No companies were created yet.
      <br>
      <br>
    {% endif %}
  <a class="btn btn-success" href="/add_company"
        data-toggle="tooltip" title="Add a new company."> Add Company</a>

  <br>
  <br>
<!-------------------------------------------------------------------------------------------------------->

<!--  <h1>Dashboard <small> Welcome {{session.first_name}} {{session.sur_name}}</small></h1>-->
  <h1> <small>Your systems </small></h1>
A list of systems of CPSs and services that you are admin of:
  <hr>
  <table class="table table-striped">
    <tr>
      <th>uuid</th>
      <th>Company</th>
      <th>System</th>
      <th>Creator</th>
      <th></th>
<!--      <th></th>-->
    </tr>

      {% for system in systems %}
      <tr>
        <td><a href="show_system/{{system.system_uuid}}" class="btn btn-block">{{system.system_uuid}}</a></td>
        <td><a href="show_system/{{system.system_uuid}}" class="btn btn-block">{{system.domain}}.{{system.enterprise}}</a></td>
        <td><a href="show_system/{{system.system_uuid}}" class="btn btn-block">{{system.workcenter}}.{{system.station}}</a></td>
        <td><a href="show_system/{{system.system_uuid}}" class="btn btn-block">{{system.contact_mail}}</a></td>
        <td><a href="show_system/{{system.system_uuid}}" class="btn btn-info float-right"
        data-toggle="tooltip" title="Manage this system.">manage system</a></td>
<!--        <td><a class="btn btn-danger" href="/delete_system/{{system.system_uuid}}"> delete</a></td>-->
      </tr>
    {% endfor %}
  </table>
    {% if not systems %}
      No systems were created yet.
      <br>
      <br>
    {% endif %}
  <a class="btn btn-success" href="/add_system"
      data-toggle="tooltip" title="Add a new system to this company."> Add System</a>

  <br>
  <br>
<!-------------------------------------------------------------------------------------------------------->


  <h1> <small> Your client applications </small></h1>

A list of client applications of whose dedicated system you are admin of:
  <hr>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>System</th>
      <th>Creator</th>
      <th></th>
    </tr>
      {% for client in clients %}
      <tr>
        <td><a href="show_client/{{client.system_uuid}}/{{client.name}}" class="btn btn-block">{{client.name}}</a></td>
        <td><a href="show_client/{{client.system_uuid}}/{{client.name}}" class="btn btn-block">{{client.domain}}.{{client.enterprise}}</a></td>
        <td><a href="show_client/{{client.system_uuid}}/{{client.name}}" class="btn btn-block">{{client.workcenter}}.{{client.station}}</a></td>
        <td><a href="show_client/{{client.system_uuid}}/{{client.name}}" class="btn btn-block">{{client.contact_mail}}</a></td>
<!--        <td>{{client.contact_mail}}</td>-->
        <td><a href="show_client/{{client.system_uuid}}/{{client.name}}" class="btn btn-info float-right"
                data-toggle="tooltip" title="Manage this client application.">manage</a></td>
      </tr>
    {% endfor %}
  </table>
  <a class="btn btn-success" href="/add_client"
      data-toggle="tooltip" title="Add a new client application to this system."> Add Client</a>

  <br>
  <br>
<!-------------------------------------------------------------------------------------------------------->

  <h1> <small> Your streams </small></h1>
A list of streams of whose source system you are admin of:
  <hr>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Source System</th>
      <th>Target System</th>
      <th>Status</th>
      <th>Creator</th>
      <th></th>
    </tr>
      {% for stream in streams %}
      <tr>
        <td><a href="show_stream/{{stream.system_uuid}}/{{stream.name}}" class="btn btn-block">{{stream.name}}</a></td>
        <td><a href="show_stream/{{stream.system_uuid}}/{{stream.name}}" class="btn btn-block">{{stream.source_system}}</a></td>
        <td><a href="show_stream/{{stream.system_uuid}}/{{stream.name}}" class="btn btn-block">{{stream.target_system}}</a></td>
        <td><a href="show_stream/{{stream.system_uuid}}/{{stream.name}}" class="btn btn-block">{{stream.status}}</a></td>
        <td><a href="show_stream/{{stream.system_uuid}}/{{stream.name}}" class="btn btn-block">{{stream.contact_mail}}</a></td>

        <td><a href="show_stream/{{stream.system_uuid}}/{{stream.name}}" class="btn btn-info float-right"
                data-toggle="tooltip" title="Manage this stream.">manage</a></td>
      </tr>
    {% endfor %}
  </table>
  <a class="btn btn-success" href="/add_stream"
      data-toggle="tooltip" title="Add a new stream application to this system."> Add Stream</a>

  <br>
  <br>
  <hr>
  <tr>
      To get started, find examples and visit the open source code,
      check out the project's <a href={{payload.SOURCE_URL}}>git repository</a>.
    </tr>
  <br>

{% endblock %}
