{% extends 'layout.html' %}

{% block body %}
  <h1> <small> Agents of the system {{payload.domain}}.{{payload.enterprise}}.{{payload.workcenter}}.{{payload.station}} </small></h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>First Name</th>
      <th>Name</th>
      <th>Contact</th>
      <th></th>
    </tr>
      {% for agent in agents %}
      <tr>
        <td>{{agent.first_name}}</td>
        <td>{{agent.sur_name}}</td>
        <td>{{agent.email}}</td>
        <td>
            <a class="btn btn-danger" href="/delete_agent_system/{{agent.system_uuid}}/{{agent.agent_uuid}}"> remove </a>
        </td>
    {% endfor %}
  </table>

  <a href="/add_agent_system/{{payload.system_uuid}}" class="btn btn-success">Add agent</a>

  <br>
  <br>
<!---------------------------------------------------------------------------------------------->

  <h1> <small> Client applications of the system {{payload.domain}}.{{payload.enterprise}}.{{payload.workcenter}}.{{payload.station}} </small></h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Domain</th>
      <th>Enterprise</th>
      <th>Workcenter</th>
      <th>Station</th>
      <th>Creator</th>
<!--      <th>Creator</th>-->
      <th></th>
      <th></th>
    </tr>
      {% for client in clients %}
      <tr>
        <td><a href="/show_client/{{client.system_uuid}}/{{client.name}}" class="btn btn-block">{{client.name}}</a></td>
        <td><a href="/show_client/{{client.system_uuid}}/{{client.name}}" class="btn btn-block">{{client.domain}}</a></td>
        <td><a href="/show_client/{{client.system_uuid}}/{{client.name}}" class="btn btn-block">{{client.enterprise}}</a></td>
        <td><a href="/show_client/{{client.system_uuid}}/{{client.name}}" class="btn btn-block">{{client.workcenter}}</a></td>
        <td><a href="/show_client/{{client.system_uuid}}/{{client.name}}" class="btn btn-block">{{client.station}}</a></td>
        <td><a href="/show_client/{{client.system_uuid}}/{{client.name}}" class="btn btn-block">{{client.contact_mail}}</a></td>
<!--        <td>{{client.contact_mail}}</td>-->
        <td><a href="/show_client/{{client.system_uuid}}/{{client.name}}" class="btn btn-info">manage client</a></td>
      </tr>
    {% endfor %}
  </table>
  <a class="btn btn-success" href="/add_client/{{payload.system_uuid}}"> Add client</a>

{% endblock %}
