{% extends 'layout.html' %}

{% block body %}
<!--  <h1>Dashboard <small> Welcome {{session.first_name}} {{session.sur_name}}</small></h1>-->
  <h1> <small> List of dedicated systems </small></h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>uuid</th>
      <th>Domain</th>
      <th>Enterprise</th>
      <th>Workcenter</th>
      <th>Station</th>
<!--      <th>Creator</th>-->
      <th></th>
      <th></th>
    </tr>
      {% for system in systems %}
      <tr>
        <td><a href="show_system/{{system.system_uuid}}" class="btn btn-block">{{system.system_uuid}}</a></td>
        <td><a href="show_system/{{system.system_uuid}}" class="btn btn-block">{{system.domain}}</a></td>
        <td><a href="show_system/{{system.system_uuid}}" class="btn btn-block">{{system.enterprise}}</a></td>
        <td><a href="show_system/{{system.system_uuid}}" class="btn btn-block">{{system.workcenter}}</a></td>
        <td><a href="show_system/{{system.system_uuid}}" class="btn btn-block">{{system.station}}</a></td>
<!--        <td>{{system.contact_mail}}</td>-->
        <td><a href="show_system/{{system.system_uuid}}" class="btn btn-info">manage system</a></td>
        <td>
            <a class="btn btn-danger" href="/delete_system/{{system.system_uuid}}"> delete</a>
        </td>
      </tr>
    {% endfor %}
  </table>
  <a class="btn btn-success" href="/add_system"> Add System</a>
{% endblock %}
