[Unit]
Description=Autostart Zookeeper Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/kafka
ExecStart=/kafka/bin/zookeeper-server-start.sh /kafka/config/zookeeper.properties
ExecReload=/kafka/bin/zookeeper-server-stop.sh
Restart=always

[Install]
WantedBy=multi-user.target

